name = "darigo-terminal"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[assets]
directory = "./public"
binding = "ASSETS"
html_handling = "none"
not_found_handling = "none"

[[kv_namespaces]]
binding = "GUESTBOOK"
id = "9edf55f15e1041a4b64ef4a964d93624"
